body {
  margin: 0;
}

.header-div {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: black;
  z-index: 999;
}

.amazon-logo {
  color: white;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}

.amazon-logo-image:hover,
.returns-and-orders:hover,
.cart:hover {
  border: 1px solid white;
  border-radius: 2px;
}

.amazon-logo-image {
  width: 100px;
  padding: 10px;
}

.amazon-mobile-logo-image {
  display: none;
}

@media(max-width: 600px) {
  .amazon-logo-image {
    display: none;
  }

  .amazon-mobile-logo-image {
    display: block;
    width: 35px;
    padding: 10px;
  }

}

.search-div {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
}

.search-bar {
  flex: 1;
  padding-left: 15px;
  font-size: 16px;
  height: 38px;
  width: 0;
  border-radius: 4px;
  border: none;
}

.search-button {
  width: 45px;
  height: 40px;
  border: none;
  background-color: rgb(254, 189, 105);
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.header-right-section {
  color: white;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
}

.returns-and-orders {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.returns-and-orders-link {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
}

.returns-span {
  font-size: 13px;
}

.orders-span {
  font-size: 15px;
  font-weight: 700;
}

.cart-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  position: relative;
}

.cart-image {
  padding-top: 5px;
  padding-left: 5px;
  width: 50px;
}

.cart-span {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}


.cart-text {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 22px;
  
  width: 26px;
  text-align: center;
}

.mobile-list {
  display: none;
}

.dropdown-content {
  display: none;
}

@media(max-width: 600px) {
  .returns-and-orders {
    display: none;
  }

  .cart {
    display: none;
  }

  .mobile-list {
    display: block;
  }

  .mobile-list-link {
    padding: 5px;
  }
}

.mobile-list-link {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 60px;
  height: 100px;
  width: 100%;
  background-color: black;
  z-index: 900;
}

.dropdown-option {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
  height: 50%;
  color: white;
  cursor: pointer;
}