.main-field {
  position: absolute;
  top: 60px;
  width: 100%;
}

.orders-field {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.page-title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}

.order-info {
  display: flex;
  flex-direction: row;
  background-color: rgb(240, 242, 242);
  border: 1px solid rgb(213, 217, 217);
  border-radius: 7px;
  padding: 20px;
}

.order-placed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 40px;
}

.order-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.order-id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
}

.orders {
  display: flex;
  flex-direction: column;
}

.order-item {
  display: flex;
  flex-direction: row;
  padding: 40px 25px;
  border: 1px solid rgb(213, 217, 217);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.order-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 110px;
  height: 110px;
}
.order-image {
  max-width: 110px;
  max-height: 110px;
}

.description-title {
  font-weight: 700;
  margin-bottom: 5px;
}

.description-arrival {
  margin-bottom: 3px;
}

.description-quantity {
  margin-bottom: 8px;
}

.buy-again-icon {
  width: 25px;
  margin-right: 15px;
}

.buy-again-button {
  font-size: 15px;
  width: 140px;
  height: 36px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product-actions {
  margin-left: auto;
  margin-bottom: 70px;
  width: 250px;
}

.track-package-button {
  width: 100%;
  padding: 12px;
}

.product-actions-mobile {
  display: none;
}

@media (max-width: 680px) {
  .product-actions {
    display: none;
  }

  .product-actions-mobile {
    display: block;
    width: 140px;
  }
}